@import url('//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css');

.custom-bullet li {
    display: block;
}

.custom-bullet li:before
{
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #CCCCCC;
}

.custom-bullet {
    margin-top: 0;
    margin-bottom: 0;
}

.btn-group {
    margin-top: 10;
}

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0px auto -50px; /* the bottom margin is the negative value of the footer's height */
}
.push {
    height: 50px;
}
.footer {
    height: 38px; /* .push must be the same height as .footer */
    background-color: #f5f5f5;
    margin-top: 12px;
}

.footer-text {
    padding-left: 10px;
    padding-top: 9px;
    color:rgb(66, 188, 147);
}

#navbar_id {
    margin-bottom: 25px;
}

h4 {
    margin-left: 5;
    margin-right: 5;
    margin-bottom: 3 !important;
}

.image-headline-block {
    margin-bottom: 35;
    background-color: rgb(243, 243, 243);
}

.main-headline {
    padding-bottom: 6;
}

.metadata-headline {
    margin-left: 5;
    color: rgb(100, 100, 100);
}

.child-headlines {
    margin-top: 5;
    padding-bottom: 7;
    margin-right: 8px;
}

.no-underline-link {
    text-decoration: none !important;
}

#outer {
    width:100%;
}

#inner {
  display: table;
  margin: 0 auto;
}

.fixed-height-image {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.about {
    margin-left: 7px;
    margin-right: 7px;
}

#site-title-big {
  color:rgb(66, 188, 147);
  font-size: 185%;
}

@media (max-width: 676px) {
    .container-fluid {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }

    body {
      padding:0 !important;
    }

    #menu-button-xs-margin {
        margin-right: 25px;
    }

    #site-title-xs-margin {
        margin-left: 10px;
    }

    h4 {
        margin-left: 10;
        margin-right: 10;
        margin-bottom: 3 !important;
    }

    .metadata-headline {
        margin-left: 10;
        color: rgb(100, 100, 100);
    }

    .fixed-height-image {
        width: 100%;
        height: auto;
    }

    .col-sm-1 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .col-sm-4 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .col-sm-6 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .col-sm-10 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .navbar-header {
        width: 100%;
    }

    .row {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}